<div
  *ngIf="hero"
  class="container"
>
    <div class="hero-avatar">
      <h1>{{ hero.name }}</h1>
      <img [src]="hero.image" [alt]="hero.name">
    </div>

    <div class="hero-info">
      <p>Intelligence: {{ hero.powerstats.intelligence }}</p>
      <p>Strength: {{ hero.powerstats.strength }}</p>
      <p>Speed: {{ hero.powerstats.speed }}</p>
      <p>Durability: {{ hero.powerstats.durability }}</p>
      <p>Power: {{ hero.powerstats.power }}</p>
      <p>Combat: {{ hero.powerstats.combat }}</p>
      <br>
      <p>Full name: {{ hero.biography["full-name"] }}</p>
      <p>Alter egos: {{ hero.biography["alter-egos"] }}</p>
      <p>Place of birth: {{ hero.biography["place-of-birth"] }}</p>
      <p>Alignment: {{ hero.biography.alignment }}</p>
      <br>
      <p>Gender: {{ hero.appearance.gender }}</p>
      <p>Race: {{ hero.appearance.race }}</p>
      <p>Height: {{ hero.appearance.height }}</p>
      <p>Weight: {{ hero.appearance.weight }}</p>
      <br>
      <p>Occupations: {{ hero.work.occupations }}</p>
      <p>Base: {{ hero.work.base }}</p>
      <p>Connections: {{ hero.connections.relatives }}</p>
      <p>Group-affiliation: {{ hero.connections["group-affiliation"] }}</p>

    </div>
</div>
