<table>
  <tr>
    <th (click)="sortByDate()">Battle date</th>
    <th (click)="sortByHeroName()">Hero name</th>
    <th (click)="sortByEnemyName()">Opponent name</th>
    <th (click)="sortByBattleResult()">Battle result</th>
  </tr>
  <tr *ngFor="let battle of battleList; trackBy: trackByFn">
    <td>{{ battle.battleDate | date : 'medium' }}</td>
    <td (click)="heroesInfoService.redirectToHero(battle.heroId)">{{ battle.heroName }}</td>
    <td (click)="heroesInfoService.redirectToHero(battle.enemyId)">{{ battle.enemyName }}</td>
    <td>{{ battle.battleResult }}</td>
  </tr>
</table>
