<div
  class="heroes-container"
     >
  <div
    *ngIf="hero.powerstats.combat !== 'null'"
    class="hero"
  >
    <h3 class="hero-name">
      {{ hero.name }}
    </h3>
    <div class="hero-content">
      <div class="hero-stats">
        <p>combat: {{ hero.powerstats.combat }}</p>
        <p>durability: {{ hero.powerstats.durability }}</p>
        <p>intelligence: {{ hero.powerstats.intelligence }}</p>
        <p>power: {{ hero.powerstats.power }}</p>
        <p>speed: {{ hero.powerstats.speed }}</p>
        <p>strength: {{ hero.powerstats.strength }}</p>
      </div>
      <div class="hero-visual">
        <img
          class="hero-img"
          [src]="hero.image"
          [alt]="hero.name"
        >
        <div class="block-btn">
          <button
              class="btn btn-select"
              [id]="hero.id"
              (click)="selectHero($event)"
          >
            {{ isOwned ? 'Remove' : 'Select' }}
          </button>

          <button
              *ngIf="trySelected(hero.id)"
              class="btn btn-selected"
          >
            Selected
          </button>
          <button
              *ngIf="tryOwned(hero.id)"
              class="btn btn-owned"
          >
            Owned
          </button>
          <button
            class="btn btn-view"
            (click)="heroesInfoService.redirectToHero(hero.id)"
          >
            View Hero
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
