<div class="container">

    <app-alphabet-search
      class="alphabet"
    ></app-alphabet-search>

  <div class="form-container">
    <form
      class="form"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div
        *ngIf="nameGetter!.invalid && nameGetter!.touched"
        class="validation"
      >
        <p *ngIf="nameGetter!.errors!.required">
          Please enter the name...
        </p>
        <p *ngIf="nameGetter!.errors!.invalidName && nameGetter!.value !== ''">
          Invalid name
        </p>
      </div>

      <div class="search-box">
        <input
          class="heroes-search"
          type="text"
          formControlName="heroSearch"
          placeholder="Enter name..."
        >
        <button
          class="search-btn"
          [disabled]="form.invalid"
          type="submit"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
    <div class="recent-searches">
      <app-recent-search
          *ngFor="let item of recentSearch"
          [item]="item"
          (click)="searchFromRecent(item)"
      ></app-recent-search>
    </div>

    <div
      *ngIf="!heroesService.noHeroError; else heroError"
    >
      <app-hero-card
        *ngFor="let hero of heroesService.heroesArr; trackBy: trackBy"
        [hero] ="hero"
      ></app-hero-card>
    </div>

    <ng-template #heroError>
      <div class="error-container">
        <p class="no-hero">
          character with given name not found
        </p>
      </div>
    </ng-template>

  </div>

</div>


